body {
    background-image: url(../images/655723-PP2RYV-691.jpg);
    background-size: 100% 100%;
    color: white;
}

h1, h2, h3, h4 {
font-family: 'Berkshire Swash', cursive;
}

header {
    display: flex;
    justify-content: space-between;
}

form {
    font-family: 'Fondamento', cursive;
}

.form1 {
    display: flex;
}

.call {
    font-family: 'Berkshire Swash', cursive;
    border-radius: 100%;
}

footer {
    display: flex;
    justify-content: space-between;
}
